.layout {
  // layout样式
  height: 100vh;
  // 子元素样式
  :global {
    .ant-layout{
      height: 100%;
    }
    .ant-layout-header {
      padding: 0;
      padding-right: 20px;
    }
    .logo {
      float: left;
      width: 200px;
      height: 60px;
      margin: 2px o;
      background: url(~assets/logo.png);
      background-size: cover;
    }
    .profile {
      float: right;
      span + span {
        margin-left: 20px;
        cursor: pointer;
      }
      color: #fff;
      font-weight: 700;
    }

    .ant-row-rtl .logo {
      float: right;
      margin: 16px 0 16px 24px;
    }

    .site-layout-background {
      background: #fff;
    }
  }
}
